<div class="tile-container">
  <div class="tile" id="tile-1" data-position="1">1</div>
  <div class="tile" id="tile-2" data-position="2">2</div>
  <div class="tile" id="tile-3" data-position="3">3</div>
  <div class="tile" id="tile-4" data-position="4"></div>
  <div class="tile" id="tile-5" data-position="5"></div>
  <div class="tile" id="tile-6" data-position="6"></div>
  <div class="tile" id="tile-7" data-position="7"></div>
  <div class="tile" id="tile-8" data-position="8"></div>
  <div class="tile" id="tile-9" data-position="9"></div>
</div>